spring:
  application:
    name : ai-service

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${AI_MONGODB_NAME}

  rabbitmq:
    host: localhost
    port: 5672
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}



eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


server:
  port: 8083

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking


gemini:
  api:
    url: ${GEMINI_API_URL}
    key: ${GEMINI_API_KEY}